<div data-sly-include="head.html" />
<div data-sly-resource="${@path='par', resourceType='wcm/foundation/components/parsys'}"></div>

<div data-sly-resource="${@path='var', resourceType='company/components/simpleVariable'}"></div>

<div data-sly-resource="${@path='param', resourceType='company/components/parameterexample'}"></div>



<div class="header">
    <div class="container_16">
        <div data-sly-resource="${@path='topnav', resourceType='company/components/navigationbar'}"></div>
    </div>
</div>

<section class="component-name" data-sly-use.component="Component" >
    <h1> Page Details</h1>
    <p>${component.currentPageTitle}</p>
    <p>${component.currentPageName}</p>
    <p>${component.currentPagePath}</p>
    <p>${component.pageDescription}</p>
</section>